.cardsContainer{
    
    width: 100%;
    min-height: 100%;
    background-image: url("https://img.freepik.com/free-photo/black-smooth-textured-paper-background_53876-160608.jpg?w=996&t=st=1706761584~exp=1706762184~hmac=86b9e5ce773cac1887eecf163cb9f3e4d17a8de56b309d383e26320b9cc83653");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 35px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 4vw;
    justify-content: space-around;
}
